<div class="banner">
  <div class="container">
    <h1>My Watch List</h1>
    <p>List your favorite movies and leave a comment!</p>
    <%= link_to "Go to my lists", lists_path, class: "home-button" %>
  </div>
</div>
